@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<style>
    h2 {
        margin-bottom: 20px;
    }
</style>


<div class="row">
    <h2>Line Charts</h2>
    <div class="col-md-12" id="container"></div>
    <h2>pie Charts</h2>
    <div class="col-md-12" id="container2"></div>
    <h2>pie Charts</h2>
    <div class="col-md-12" id="container3"></div>

    <h2>cylindre Charts</h2>
    <div class="col-md-12" id="container1"></div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <!-- Modal -->
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <h4 class="modal-title"><span id="titre"></span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id='mytable' class='table table-bordered table-striped table-hover table-condensed'>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom  du client </th>
                                <th>Nom du produit </th>
                                <th>Quantite vendue</th>
                                <th>Montant paye</th>
                                <th>numero_facture</th>
                                <th>Mode de paiement</th>
                                <th>Solde rstante</th>
                                <th>Date de paiement</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/Scripts/Charts.js"></script>
}
